{% extends 'base.html' %}
{% block main_content %}

    <main>

        <!-- Edit Fruit Form -->
        <section id="edit">
            <div class="form">
                <h2>Edit Fruit</h2>
                <form action="{% url 'fruit-edit' pk=object.pk %}" class="edit-form" method="post">
                    {{ form }}
                    <button type="submit">Edit</button>
                    {% csrf_token %}
                </form>
            </div>
        </section>

    </main>
{% endblock %}
